<h1><%= @device[0] %> </h1>
<% selection = @device[1].to_a %>
<table><tr>
<% for level in 0..session[:level] do %>
<td>
<table>
  <% 0.upto(selection.length-1) do |device| %>
    <tr><td>
    <% if session[:program][level] == device %>
      <b>
    <% end %>
    <%= selection[device][0] %>
    <% if session[:program][level] == device %>
      </b>
    <% end %>
    </td></tr>
   <% end %>
 </table>
 </td>
 <% selection = selection[session[:program][level]][1].to_a %>
 <% end %>
</tr></table>
