<h1>Home#index</h1>

<%= link_to "up", :action => 'up', :class => "button"%>
<%= link_to "down", :action => 'down', :class => "button"%>
<%= link_to "left", :action => 'left', :class => "button"%>
<%= link_to "right", :action => 'right', :class => "button"%>
